body {
  background: #5a6378;
}

.reveal p,
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6,
.reveal ul {
  color: #60b4cc !important;
}

.reveal a {
  color: #efac00;
}

.reveal a:hover {
  text-decoration: underline;
  color: #efac00; 
}

.reveal ul {
  list-style-type: none;
}